{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(upload_form) }}
    {{ form_widget(upload_form) }}
    <input type="submit" value="Save" />
    {{ form_end(upload_form) }}

    <h1>Tasklists list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for taskList in taskLists %}
            <tr>
                <td><a href="{{ path('tasklist_show', { 'id': taskList.id }) }}">{{ taskList.id }}</a></td>
                <td>{{ taskList.title }}</td>
                <td>{{ taskList.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tasklist_show', { 'id': taskList.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('tasklist_edit', { 'id': taskList.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tasklist_new') }}">Create a new taskList</a>
        </li>
    </ul>
{% endblock %}
