{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tasklist</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ taskList.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ taskList.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ taskList.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tasklist_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tasklist_edit', { 'id': taskList.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
